/* src/components/ProductModal.css */
.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-top: 0;
    margin-bottom: 20px;
  }
  
  .cancel-btn,
  .save-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
  }
  
  .cancel-btn {
    background-color: #dc3545;
    color: #fff;
  }
  
  .cancel-btn:hover {
    background-color: #c82333;
  }
  
  .save-btn {
    background-color: #007bff;
    color: #fff;
  }
  
  .save-btn:hover {
    background-color: #0056b3;
  }
  
  